@import "../../styles.scss";

.base {
    border-radius: 5%;
    &.hand {

        -webkit-box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);

        &:hover {
            margin-top: -10px;
            cursor: pointer;
        }  

        &.selected {
            margin-top: -3vh;
        }
    }

    &.table {

        margin-left: 12px;
        height: 100%;

        &:first-child {
            margin-left: 0;
        }

        & svg {
            height: 100%;
        } 
    }
    
}