.base {
    display: inline;
    &.hand {
        &:hover {
            transform: translateY(-30px);
        }
    }

    &.table {

        margin-left: 12px;

        &:first-child {
            margin-left: 0;
        }

        & svg {
            width: auto;
            height: 12vh;
        } 
    }
    
}