@import "../../styles.scss";

.base {
    border-radius: 5%;
    display: flex;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.hand {

        -webkit-box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 8px -5px rgba(0,0,0,0.75);

        max-width: 200px;

        &:hover {
            margin-top: -10px;
            cursor: pointer;
        }  

        &.selected {
            margin-top: -3vh;
        }

        & svg {
            width: 200px;
        }
    }

    &.table {

        height: 100%;
        max-width: 80px;
        width: 100px;

        &.selected {
            margin-top: -15px;
        }

        & svg {
            height: 100%;
        } 
    }

    &.mini {
        height: 100%;
        max-width: 45px;
        width: 100px;
        border: 1px solid grey;

        & svg {
            height: 100%;
        } 

    }
    
}