.base {
    margin-left: 60px;
    width: 30px;

    .item {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        width: 100%;

        &.black {
            color: black;
        }

        &.red {
            color: #ad2c23;
        }

        div {
            width: 100%;
            text-align: center;
        }
    }
}