.base {
    width: 150px;
    height: 30px;
    margin: 30px auto;
    position: relative;
    border: grey;
    background-color: lightgrey;
    text-align: center;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}