.base {
    width: 150px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid grey;
    background-color: lightgrey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}