@import "../../styles.scss";

$table-margin: 15px;
$top-row-margin: 0.9*($table-margin + $player-table-width);

.base {
    border: 15px solid #855E42;
    background-color: #389c53;
    width: 98%;
    height: 100%;
    border-radius: 15%;
    border-style: ridge;
    box-sizing: border-box;
    margin: auto;

    .rows {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .topRow {
        margin: $table-margin $top-row-margin 0 $top-row-margin;
        height: $player-table-width;
        display: flex;
        flex-direction: row;
    }

    .middleRow {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .tableSide {

        &:first-child {
            margin-left: $table-margin;
        } 

        &:last-child {
            margin-right: $table-margin;
        } 

        height: 100%;
        width: $player-table-width;
        min-width: $player-table-width;
        display: flex;
        flex-direction: column;
    }

    .center {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .table {

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .gameIcon {
            opacity: 0.08;
            font-size: 96px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .playerTable {
        height: $player-table-width;
        min-height: $player-table-width;
        margin-bottom: 30px;
    }

    .opponentTable {
        width: 100%;
        height: 100%;
    }

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hints {
        width: 100%;
        margin-left: 10vw;
    }

    .played {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .stack {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 70px;
    }

    .actionButton {
        margin-bottom: 30px;
        height: 32px;
        min-height: 32px;
        width: 100%;
    }

}