.base {
    height: 100%;
    width: 100%;


    .table {
        border: 15px solid purple;
        width: 100%;
        height: 100%;
        border-radius: 15%;
        border-style: ridge;
    }

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hints {
        width: 100%;
        margin-left: 10vw;
    }

    .played {
        width: 100%;
        max-width: 20vw;
    }

    .stack {
        width: 100%;
        height: 12vh;
        margin-right: 10vw;
    }

}