@import "../../styles.scss";

.base {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .pileContainer {
        margin-right: 15px;
        &:last-child {
            margin-right: none;
        }
    }

    &.u {
        flex-direction: row;
    }

    &.d {
        flex-direction: row;
    }

    &.l {

    }

    &.r {

    }

    .sides {
        min-width: 100%;
        flex-grow: 10;
    }
}