.base {
    height: 100%;
    flex-grow: 0;
    position: absolute;
    display: flex;
    justify-content: center;


    &.u {
        height: 12vh;
        width: 100%;
        bottom: 160px;
        flex-direction: row;
    }

    &.d {
        left: 50%;
        top: 120px;
        height: 12vh;
        width: 100%;
        transform: translateX(-50%);
        flex-direction: row;
    }

    &.l {
        top: 50%;
        right: 210px;
        height: 100%;
        width: 12vh;
        transform: translateY(-50%);
        flex-direction: column;
    }

    &.r {
        top: 50%;
        left: 210px;
        height: 100%;
        width: 12vh;
        transform: translateY(-50%);
        flex-direction: column;
    }

    .sides {
        min-width: 100%;
        flex-grow: 10;
    }
}