@import "../../styles.scss";

.base {
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid red;

    .pileContainer {
        border: 1px dashed red;
        margin-right: 15px;

        &:last-child {
            margin-right: none;
        }
    }

    .padding {
        width: 100%;
        flex-grow: 10;
    }


    &.u {

    }

    &.d {
        flex-direction: row;
    }

    &.l {

    }

    &.r {

    }

    .sides {
        min-width: 100%;
        flex-grow: 10;
    }
}